# Standard Chef/Ruby
.bundle
.chef
Gemfile.lock

# Backups
*~

# Kitchen tests
.kitchen
vendor
.kitchen/
.kitchen.local.yml

# Created by chef export
cookbook_artifacts
clients
nodes
policies
policy_groups

# Pulled by berks vendor -- ignore non-local cookbooks
cookbooks/build-essential
cookbooks/compat_resource
cookbooks/mingw
cookbooks/nginx
cookbooks/ohai
cookbooks/seven_zip
cookbooks/windows
cookbooks/yum-epel
cookbooks/zypper

# Editors
.vscode/
